<div id="outerNavButtonHolder" class="">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div id="innerNavButtonHolder" class="row">
        <div id="aboutButton" appMainNavButton class="nav-button col-xs-12 col-sm-4">
          <div class="hide-over"><h2 class="nav-header ani0_75">ABOUT</h2></div>
          <div class="nav-line ani0_75"></div>
          <div class="ani0_75 nav-image-holder"><img class="ani0_75 nav-img" src="assets/images/about-icon.jpg" alt="button-base" /></div>
          <div class="hide-over nav-bottom"><div class="main-nav-learn-more ani0_75">Learn More</div><div class="left-arrows ani0_75 main-nav-learn-more">>></div></div>
        </div>
        <div id="workButton" appMainNavButton class="nav-button col-xs-12 col-sm-4">
          <div class="hide-over"><h2 class='nav-header ani0_75'>WORK</h2></div>
          <div class="nav-line ani0_75"></div>
          <div class="ani0_75 nav-image-holder"><img class="ani0_75 nav-img" src="assets/images/work-icon.jpg" alt="button-base" /></div>
          <div class="hide-over nav-bottom"><div class="main-nav-learn-more ani0_75">Learn More</div><div class="left-arrows ani0_75 main-nav-learn-more">>></div></div>
        </div>
        <div id="thoughtButton" appMainNavButton class="nav-button col-xs-12 col-sm-4">
          <div class="hide-over"><h2 class='nav-header ani0_75'>THOUGHT</h2></div>
          <div class="nav-line ani0_75"></div>
          <div class="ani0_75 nav-image-holder"><img class="ani0_75 nav-img" src="assets/images/thought-icon.jpg" alt="button-base" /></div>
          <div class="hide-over nav-bottom"><div class="main-nav-learn-more ani0_75">Learn More</div><div class="left-arrows ani0_75 main-nav-learn-more">>></div></div>
        </div>
      </div>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>